#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;

  min-height: 100vh;
  text-align: center;

  display: flex;
}
#container {
  margin: auto;

  width: min(90%, 112rem);
}
.location,
h1,
.visit p {
  height: 16vh;
}
/* tempo de aparicao da animacao */
#logo {
  animation-delay: 50ms;
}
.location {
  animation-delay: 100ms;
}
main h1 {
  animation-delay: 150ms;
  font-size: clamp(2rem, 4vw, 8.4rem);
}
.visit p {
  animation-delay: 200ms;
}

.visit a {
  width: 8rem;
  height: 8rem;
  background-color: #ffd666;

  border: none;
  border-radius: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  transition: background 200ms;
  animation-delay: 250ms;
}
.visit a:hover {
  background-color: #96feff;
}

/* Desktop VERSION */
@media (min-width: 760px) {
  #container{
    padding: 1rem 2rem;
    /* shorthand background: image rapeate position/ size */
    background: url(../images/Documents-pana.png) no-repeat 100% /clamp(30rem, 54vw,56rem);

  
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .location,
  h1,
  .visit p {
    height: initial;
    text-align: initial;
  }
  main h1 {
    font-weight: bold;
    line-height: 0.88;

    margin: clamp(3%, 9vh, 10%) 0.4rem;

    width: min(400px, 80%);
  }
  .visit {
    display: flex;
    align-items: center;
    
  }
  .visit p {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 1.5;
    width: clamp(20rem, 20vw, 30rem);
    margin-left: 16px;
  }
  .visit a {
    
    margin: initial;
  }
  .visit_left .warning_img{
   display: flex;
   margin: initial;
   padding-bottom: 1.2rem;
   margin: .4rem;

  }
}
