<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy | Erro no banco de dados</title>
    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animation.scss" />
    <link rel="stylesheet" href="/css/page-error.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img
            class="animate-up"
            id="logo"
            src="/images/logo.svg"
            alt="Logomarca da Happy"
          />
        </header>
        <main>
          <h1 class="animate-up">Opa, algo de errado não esta certo com o banco de dados!</h1>
          
          <section class="visit">
            
            <a
              href="/"
              title="Voltar para Pagina inicial"
              class="animate-up"
              ><img src="/images/arrow-back.svg" alt="Pagina inicial"
            /></a>
            <p class="animate-up">
               Volte para a Pagina inicial
            </p>
            
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
